<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.RolePermissionMapper">

    <select id="selectPermissionIdsByRole" resultType="long">
        SELECT permission_id FROM role_permission WHERE role = #{role}
    </select>

    <delete id="deleteByRole">
        DELETE FROM role_permission WHERE role = #{role}
    </delete>

    <insert id="insertBatch">
        INSERT INTO role_permission (role, permission_id) VALUES
        <foreach collection="permissionIds" item="permId" separator=",">
            (#{role}, #{permId})
        </foreach>
    </insert>

</mapper>
